@import "../../../styles//vars.module.scss";

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
  span {
    color: white;
    font-weight: 500;
    text-decoration: none;
  }

  .caret {
    transition: 0.15s;
    width: 20px;
    height: 12px;
    margin-top: 3px;
    path {
      stroke: white;
    }
  }
}

.dropdown {
  position: absolute;
  min-width: 250px;
  max-height: 500px;
  border-radius: 1px;
  display: none;
  left: 50%;
  top: 100%;
  transform: translate(-50%);
  background-color: white;
  font-size: inherit;
  box-shadow: 2px 2px 15px $color-gray2;

  .tooltip {
    position: relative;
    left: 50%;
    top: 0;
    transform: translate(-50%);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -10px;
      margin-top: -20px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent white transparent;
    }
  }

  .items {
    &:nth-child(even) {
      background-color: white;
    }
    &:nth-child(odd) {
      background-color: $color-gray;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}

.dropdown_on_hover {
  cursor: pointer;
}

.dropdown_on_hover:hover > .dropdown {
  display: block !important;
}

.dropdown_on_hover:hover {
  .caret {
    transform: rotate(-180deg) !important;
  }
}
