@import "../../../../../styles/vars.scss";

.sub_section {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 200px;

  .sub_section_actions {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
    column-gap: 5px;
    z-index: 1;

    svg {
      font-size: 1rem;
      color: $color-gray5;
      cursor: pointer;
    }

    .save_icon {
      width: 13px;
    }

    .disabled {
      cursor: not-allowed !important;
    }
  }

  .child_section {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
