@import "../../../../styles/vars.scss";
@import "../../../../styles/mixins.scss";

a {
  text-decoration: none !important;
}

.avatar_wrapper {
  height: inherit;
  column-gap: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;

  text-overflow: ellipsis;

  .avatar {
    width: 20px;
    margin-right: 10px;
    border-radius: 50%;
    @media screen and (min-width: 500px) {
      width: 22px;
      margin-right: 0px;
    }
  }

  .name_initials {
    background-color: $color-deep-gray-text1;
    border-radius: 50%;
    border: 3px solid #292929;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    svg {
      path {
        stroke-width: 10px;
      }
    }

    @include skeletalLoader;
  }

  .info {
    flex-direction: column;
    font-weight: bold;
    font-size: 0.8rem;
    color: $color-deep-gray-text1;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100%;
    @include skeletalLoader;
  }

  .show_info {
    display: flex !important;
  }
}
