@import "../../../../styles/vars.scss";
@import "../../../../styles/mixins.scss";

.headerWrapper {
  width: 100vw;
  height: 56px;
  display: flex;
  justify-content: center;
  background-color: $brand-color;

  .content {
    @include desktop-wrapper;
    display: flex;
    align-items: center;
    height: inherit;
    column-gap: 3.5%;
    width: 100%;
    justify-content: center;
  }
}
