$brand-color: #2874f0;
$brand-color-footer: #172337;
$color-green: #388e3c;
$color-yellow: #ffe500;
$color-gray: #f5f5f5;
$color-gray1: #e5e5e5;
$color-gray2: #d5d5d5;
$color-gray-text: #3f3f3f;
$z-index:100;
$z-index2:200;