@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.content {
  @include desktop-wrapper;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $color-gray12;
}

.main,
.tab {
  background-color: white;
  border-radius: 0.2rem;
  padding: 1rem;
}

.main {
  gap: 1rem 3rem;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 800px) {
    flex-direction: row;
  }
  .images {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @media screen and (min-width: 800px) {
      max-width: 300px;
    }
    @media screen and (min-width: 1000px) {
      max-width: 400px;
    }
    .selected_image {
      position: relative;
      width: 100%;
      max-height: 500px;
      min-height: auto;
      height: 100%;
      display: flex;
      align-items: flex-start;
      border-radius: 5px;
      justify-content: center;
      @include skeletalLoader;

      @media screen and (min-width: 800px) {
        min-height: 400px;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .image_tabs {
      display: flex;
      gap: 0.6rem;
      justify-content: center;
      .image_tab {
        height: 3.2rem;
        border-radius: 0.1rem;
        width: 3.5rem;
        padding: 0.1rem;
        @include skeletalLoader;
        border: 2px solid $color-gray5;
        cursor: pointer;

        &.selected {
          border: 2px solid $brand-color;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .main_details {
    flex: 1;
    & > section {
      flex: 1;
      display: flex;
      flex-direction: column;
      row-gap: 0.8rem;

      &:not(:first-child) {
        padding-top: 1rem;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $color-gray;
        padding-bottom: 1rem;
      }

      .name {
        font-size: 1.4rem;
        width: 90%;

        @media screen and (min-width: 1000px) {
          font-size: 1.7rem;
        }

        @media screen and (min-width: 800px) {
          font-size: 1.5rem;
        }

        .loader {
          height: 1.5rem;
          width: 100%;
          &:last-child {
            width: 90% !important;
            margin-top: 5px;
          }
          @include skeletalLoader;
          &:empty {
            width: 100%;
            border-radius: 0.4rem;
          }
        }
      }

      .sku,
      .brand,
      .rating {
        color: $color-gray10;
        @include skeletalLoader;
        height: 1rem;
        border-radius: 0.4rem;
      }

      .sku {
        &:empty {
          width: 50%;
        }
      }
      .rating {
        &:empty {
          width: 40%;
        }
      }
      .brand {
        &:empty {
          width: 30%;
        }
      }

      & > .price {
        display: flex;
        column-gap: 1rem;
        flex-direction: column;
        @include skeletalLoader;
        &:empty {
          width: 40%;
          height: 2rem;
        }
        .price {
          span {
            color: $color-gray11;
            font-size: 1.5rem;
            margin-right: 0.2rem;
            font-weight: 700;
          }
        }

        .discount {
          span {
            margin-right: 0.1rem;
            text-decoration: line-through;
            color: $color-gray4;
            font-size: 1rem;
          }
        }

        .discount_info {
          margin-top: 1rem;
          color: rgb(0, 170, 0);
          font-size: 1rem;
          display: flex;
          align-items: center;
          div {
            margin-left: 0.3rem;
          }
          span {
            margin-right: 0.1rem;
          }
          .discount {
            color: rgb(0, 170, 0);
            background-color: rgba(0, 170, 0, 0.267);
            padding: 0.2rem 0.8rem;
            font-weight: bold;
            font-size: 0.7rem;
            margin-left: 0.5rem;
            border-radius: 0.3rem;
          }
        }
      }
      .rating {
        display: flex;
        align-items: center;
        column-gap: 0.1rem;
        font-size: 0.75rem;

        .star {
          color: #fba100;
        }

        .star_less {
          color: $color-gray3;
        }

        @media only screen and (min-width: 650px) {
          font-size: 0.9rem;
        }

        .star_less,
        .star {
          width: 13px;
          @media only screen and (min-width: 650px) {
            width: 15px;
          }
        }
      }

      .cart_sec {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        .qty_note {
          @include skeletalLoader;
          &:empty {
            width: 175px;
            height: 1.5rem;
          }

          display: flex;
          column-gap: 0.4rem;
          align-items: center;
          font-size: 0.9rem;
          color: #ff9966;
          display: flex;

          svg {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.tab {
  & > .header {
    font-size: 1rem;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-gray2;
    @media screen and (min-width: 850px) {
      font-size: 1.1rem;
    }
  }
  .tab_content {
    padding-top: 1rem;
    font-size: 0.9rem;
    @media screen and (min-width: 850px) {
      font-size: 1rem;
    }

    .details {
      white-space: pre-wrap; /* This preserves the newlines */
    }

    .delivery {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 1.5rem 0.5rem;

      @media screen and (min-width: 850px) {
        flex-direction: row;
      }

      & > div {
        display: flex;
        column-gap: 0.5rem;
        align-items: center;

        .header {
          font-size: 1rem;
          @media screen and (min-width: 750px) {
            font-size: 1.3rem;
          }
        }

        .note {
          color: $color-gray10;
          font-size: 0.9rem;

          b {
            display: inline-block;
          }

          svg {
            font-size: 1.1rem;
            margin-bottom: 0.18rem;
            margin-right: -0.1rem;
          }
        }

        & > svg {
          font-size: 2rem;
          @media screen and (min-width: 750px) {
            font-size: 2.5rem;
          }
        }
      }
    }

    .colours {
      display: flex;
      column-gap: 0.5rem;
      flex-wrap: wrap;
      & > div {
        height: 1.2rem;
        border: 2px solid rgba(0, 0, 0, 0.623);
        border-radius: 0.2rem;
        width: 1.2rem;
      }
    }

    .feedback {
      display: flex;
      padding-bottom: 0.5rem;
      @include skeletalLoader;
      min-height: 20px;
      gap: 1.5rem;
      flex-direction: column;
      @media screen and (min-width: 800px) {
        flex-direction: row;
      }

      .no_comments {
        margin: 0 auto;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .no_reviews,
        .add_comment {
          text-align: center;
        }
        .no_reviews {
          font-size: 1.3rem;
        }
        .add_comment {
          color: $brand-color;
          cursor: pointer;
        }
        .comments_svg {
          margin: 0 auto;
          font-size: 5rem;
        }
      }

      .summary {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        @media screen and (min-width: 800px) {
          width: 300px;
          flex-direction: column;
        }

        .ratings {
          display: flex;
          flex: 1;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          row-gap: 0.5rem;
          .rating {
            color: #fba100;
            font-size: 1.2rem;
          }
        }

        .details {
          flex: 1;
          min-width: 300px;
          row-gap: 1rem;
          padding-left: 1rem;
          .row {
            display: flex;
            column-gap: 0.2rem;
            width: 100%;
          }
        }
      }

      .reviews {
        overflow-y: auto;
        overflow-x: hidden;
        width: calc(100% + 2rem);
        margin-left: -1rem;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        max-height: 350px;
        @include scrollbar();

        .review {
          &:not(:last-child) {
            border-bottom: 1px solid $color-gray2;
            padding-bottom: 1rem;
          }

          .r_content {
            overflow: hidden;
            .date {
              font-size: 0.8rem;
              color: $color-gray8;
            }
            display: flex;
            flex-direction: column;
            row-gap: 0.75rem;
            padding: 0.5rem 0.5rem;

            .text_bold {
              font-weight: bold;
              font-size: 0.9rem;
            }

            .comment {
              overflow-wrap: break-word; /* Break long words */
              word-wrap: break-word;
            }

            .rating {
              display: flex;
              column-gap: 1.5rem;
              align-items: center;
              .clear {
                color: red;
                cursor: pointer;
                font-size: 0.9rem;
                .clear_svg {
                  font-size: 1.5rem;
                }
              }
            }
          }

          .sub_content {
            display: flex;
            flex-wrap: wrap;
            column-gap: 1.5rem;
            align-items: center;
            margin-top: 0.5rem;
            font-size: 0.9rem;

            .name {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
