@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.content {
  @include desktop-wrapper;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $color-gray12;
}

.main {
  background-color: white;
  display: flex;
  gap: 1rem 3rem;
  border-radius: 0.2rem;
  padding: 1rem;
  .images {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .selected_image {
      position: relative;
      width: 100%;
      max-height: 500px;
      min-height: 400px;
      height: 100%;
      display: flex;
      align-items: flex-start;
      border-radius: 5px;
      justify-content: center;
      @include skeletalLoader;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .image_tabs {
      display: flex;
      gap: 0.6rem;
      justify-content: center;
      .image_tab {
        height: 3.2rem;
        border-radius: 0.1rem;
        width: 3.5rem;
        padding: 0.1rem;
        @include skeletalLoader;
        border: 2px solid $color-gray5;
        cursor: pointer;

        &.selected {
          border: 2px solid $brand-color;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .main_details {
    flex: 1;
    & > section {
      flex: 1;
      display: flex;
      flex-direction: column;
      row-gap: 0.8rem;

      &:not(:first-child) {
        padding-top: 1rem;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $color-gray;
        padding-bottom: 1rem;
      }

      .name {
        font-size: 1.7rem;
        width: 90%;

        .loader {
          height: 1.5rem;
          width: 100%;
          &:last-child {
            width: 90% !important;
            margin-top: 5px;
          }
          @include skeletalLoader;
          &:empty {
            width: 100%;
            border-radius: 0.4rem;
          }
        }
      }

      .sku,
      .brand,
      .rating {
        color: $color-gray10;
        @include skeletalLoader;
        height: 1rem;
        border-radius: 0.4rem;
      }

      .sku {
        &:empty {
          width: 50%;
        }
      }
      .rating {
        &:empty {
          width: 40%;
        }
      }
      .brand {
        &:empty {
          width: 30%;
        }
      }

      & > .price {
        display: flex;
        column-gap: 1rem;
        align-items: center;
        @include skeletalLoader;
        &:empty {
          width: 40%;
          height: 2rem;
        }
        .price {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          color: $brand-color;
          transform: scaleY(1.1);
          .naira {
            height: max-content;
            width: max-content;
            margin-bottom: -0.1rem;
            color: $brand-color;
            transform: scale(1.25);
            stroke-width: 0.15rem;
          }

          span {
            font-weight: 700;
            margin-left: 0.1rem;
            letter-spacing: 0.1rem;
          }

          &.discount {
            text-decoration: line-through;
            color: $color-gray4;
            font-size: 1.2rem;
            .naira {
              color: $color-gray4;
            }
          }
        }
      }
      .rating {
        display: flex;
        align-items: center;
        column-gap: 0.1rem;
        font-size: 0.75rem;

        .star {
          color: #fba100;
        }

        .star_less {
          color: $color-gray3;
        }

        @media only screen and (min-width: 650px) {
          font-size: 0.9rem;
        }

        .star_less,
        .star {
          width: 13px;
          @media only screen and (min-width: 650px) {
            width: 15px;
          }
        }
      }
    }
  }
}

.tabs {
  min-height: 100px;
  background-color: white;
}
