@import "./../../styles//vars.scss";
@import "./../../styles/mixins.scss";

.wrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 0;
  background-color: $color-gray;

  .sec_header {
    .header_content {
      @include desktop-wrapper;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 10px 20px;
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      align-items: center;
    }

    .title {
      display: flex;
      color: $color-gray12;
      font-size: 1.3rem;
      border-bottom: 1px solid $color-gray3;
      padding: 0.5rem 0 1rem;
      font-weight: bold;
      width: 100%;

      @media screen and (min-width: 1000px) {
        padding: 1rem 0rem;
      }

      @media screen and (min-width: 800px) {
        font-size: x-large;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    @include scrollbar();
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;

    .inner_content {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }
}
