@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";

.wrapper {
  flex: 1;
  overflow: hidden;

  @media screen and (min-width: 600px) {
    background-color: $color-gray;
  }

  .content {
    @include desktop-wrapper;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0.6rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

    @media screen and (min-width: 600px) {
      grid-template-columns: 300px 1fr;
    }

    .filter {
      position: fixed;
      width: 100%;
    }

    & > div {
      background-color: white;
      border-radius: 0.3rem;
    }
  }
}
