@import "../../../../styles/mixins.scss";
@import "../../../../styles/vars.scss";

.wrapper_section {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  @include desktop_wrapper;

  .header {
    font-size: 1.2rem;
    color: $color-gray13;
    text-align: center;
    display: flex;
    gap: 0.5rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media only screen and (min-width: 600px) {
      font-size: 1.5rem;
    }

    .see_more {
      border: 2px solid $brand-color;
      background-color: transparent;
      font-size: 0.7rem;
      padding: 0.1rem 0.65rem;

      a {
        color: $brand-color;
      }

      @media only screen and (min-width: 550px) {
        font-size: 0.85rem;
        padding: 0.2rem 1rem;
      }
    }
  }

  .products {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(2, calc(calc(100% / 2) - 0.8rem));
    place-items: center;

    @media only screen and (min-width: 800px) {
      grid-template-columns: repeat(4, calc(calc(100% / 4) - 1.15rem));
    }
  }
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;

  .image {
    position: relative;
    max-height: 270px;
    padding: 10% 5%;
    width: 100%;
    max-height: 270px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 0.25rem;
    @include skeletalLoader;

    &:empty {
      min-height: 260px;
    }

    @media only screen and (min-width: 500px) {
      max-height: 270px;
    }

    .favorite_icon {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0.75rem;
      left: 0.75rem;
      height: 1.6rem;
      width: 1.6rem;
      border-radius: 50%;
      background-color: white;
      box-shadow: 1px 1px 3px $color-gray6;
      padding: 0.2rem;

      svg {
        height: 100%;
        width: 100%;
        color: $color-gray4;
      }
    }

    img {
      max-width: 80%;
      max-height: 90%;

      @media only screen and (min-width: 500px) {
        max-width: 75%;
        max-height: 80%;
      }
    }
  }

  .name {
    text-align: left;
    color: $color-gray11;
    border-radius: 0.2rem;
    font-weight: 700;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    @include skeletalLoader;
    &:empty {
      width: 90% !important;
      height: 1.1rem;
    }
  }

  .soldandrating {
    display: flex;
    font-size: 0.75rem;
    flex-wrap: wrap;
    gap: 0.6rem;
    font-weight: 700;
    color: $color-gray12;

    .rating {
      width: max-content;
      display: flex;
      align-items: center;
      column-gap: 0.2rem;
      padding-right: 0.6rem;
      border-right: 1px solid $color-gray4;
      .star {
        color: #e5b80b;
      }
    }
    .sold {
      width: max-content;
      background-color: $color-gray1;
      padding: 0 0.5rem;
      border-radius: 0.15rem;
      height: min-content;
    }
  }

  .priceanddiscount {
    display: flex;
    column-gap: 0.6rem;
    flex-wrap: wrap;
    font-size: 0.85rem;

    .price,
    .discount {
      display: flex;
      color: $brand-color;
      align-items: center;

      .naira {
        height: max-content;
        width: max-content;
        margin-bottom: -0.1rem;
        color: $brand-color;
        transform: scale(1.25);
      }
    }

    .price {
      &.cancel_price {
        text-decoration: line-through;
        color: $color-gray4;

        .naira {
          color: $color-gray4;
        }
      }
    }
  }

  .add_to_cart {
    display: flex;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3em;
    align-items: center;
    justify-content: center;
    background-color: $brand-color;
    color: white;
    cursor: pointer;
    font-size: 0.7rem;
    column-gap: 0.35rem;
    text-wrap: nowrap;

    @media only screen and (min-width: 350px) {
      font-size: 0.75rem;
      column-gap: 0.5rem;
      padding: 0.4rem 1rem;
    }

    @media only screen and (min-width: 550px) {
      font-size: 0.8rem;
    }

    svg {
      height: 1rem;
      width: 1rem;

      @media only screen and (min-width: 350px) {
        height: 1.2rem;
        width: 1.2rem;
      }
    }

    &.selected {
      border: 2px solid $brand-color;

      svg {
        color: $brand-color;
      }
    }
  }
}
