@import "../../../../styles/mixins.scss";
@import "../../../../styles/vars.scss";

.wrapper_section {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  @include desktop_wrapper;

  .header {
    font-size: 1.2rem;
    color: $color-gray13;
    text-align: center;
    display: flex;
    gap: 0.5rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media only screen and (min-width: 600px) {
      font-size: 1.5rem;
    }

    .see_more {
      border: 2px solid $brand-color;
      background-color: transparent;
      font-size: 0.7rem;
      padding: 0.1rem 0.65rem;

      a {
        color: $brand-color;
      }

      @media only screen and (min-width: 550px) {
        font-size: 0.85rem;
        padding: 0.2rem 1rem;
      }
    }
  }

  .products {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(2, calc(calc(100% / 2) - 0.8rem));
    place-items: center;

    @media only screen and (min-width: 650px) {
      grid-template-columns: repeat(3, calc(calc(100% / 3) - 1.15rem));
    }

    @media only screen and (min-width: 900px) {
      grid-template-columns: repeat(4, calc(calc(100% / 4) - 1.15rem));
    }
  }
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;

  .image {
    position: relative;
    padding: 20% 12%;
    width: 100%;
    max-height: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 0.25rem;
    background-color: #f3f3f3;
    @include skeletalLoader;

    &:empty {
      min-height: 260px;
    }

    .favorite_icon {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0.5rem;
      left: 0.4rem;
      height: 1.4rem;
      width: 1.4rem;
      border-radius: 50%;
      background-color: white;
      box-shadow: 1px 1px 3px $color-gray4;
      padding: 0.15rem;

      @media only screen and (min-width: 450px) {
        height: 1.6rem;
        width: 1.6rem;
        padding: 0.25rem;
      }

      svg {
        height: 100%;
        width: 100%;
        margin-top: 1px;
        color: $color-gray4;
      }
    }

    img {
      max-width: 80%;
      max-height: 90%;

      @media only screen and (min-width: 500px) {
        max-width: 75%;
        max-height: 80%;
      }
    }
  }

  .name {
    text-align: left;
    color: $color-gray11;
    border-radius: 0.2rem;
    font-weight: 700;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    @include skeletalLoader;
    &:empty {
      width: 90% !important;
      height: 1.1rem;
    }
  }

  .rating {
    display: flex;
    align-items: center;
    column-gap: 0.1rem;
    font-size: 0.75rem;

    .star {
      color: $brand-color;
      width: 10px;
    }

    .star_less {
      color: $color-gray3;
    }

    @media only screen and (min-width: 650px) {
      font-size: 0.9rem;
    }

    .star_less,
    .start {
      width: 13px;
      @media only screen and (min-width: 650px) {
        width: 15px;
      }
    }
  }

  .priceanddiscount {
    display: flex;
    column-gap: 0.6rem;
    flex-wrap: wrap;
    font-size: 0.9rem;

    @media only screen and (min-width: 450px) {
      font-size: 1rem;
    }

    .price,
    .discount {
      display: flex;
      color: $brand-color;
      align-items: center;
      font-weight: 700;

      .naira {
        height: max-content;
        width: max-content;
        margin-bottom: -0.1rem;
        color: $brand-color;
        transform: scale(1.25);
      }
    }

    .price {
      &.cancel_price {
        text-decoration: line-through;
        color: $color-gray4;
        font-size: 0.85rem;
        font-weight: 600;

        .naira {
          color: $color-gray4;
        }
      }
    }
  }

  .add_to_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.65rem;
    column-gap: 0.35rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.7rem;
    width: max-content;
    border: 2px solid $color-gray6;

    color: $color-gray12;
    background-color: transparent;

    &.added {
      color: white;
      background-color: $brand-color;
      border: none;
    }

    @media only screen and (min-width: 500px) {
      border-radius: 0.85rem;
      font-size: 0.7rem;
      padding: 0.4rem 0.6rem;
    }

    @media only screen and (min-width: 650px) {
      border-radius: 1rem;
      font-size: 0.75rem;
      padding: 0.5rem 1rem;
    }

    svg {
      height: 0.95rem;
      width: 0.95rem;

      @media only screen and (min-width: 650px) {
        height: 1.1rem;
        width: 1.1rem;
      }
    }

    &.selected {
      border: 2px solid $brand-color;

      svg {
        color: $brand-color;
      }
    }
  }
}
