@import "./../../../../../styles/mixins.scss";
@import "./../../../../../styles/vars.scss";

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    font-size: 1.25rem;
    color: $color-gray12;

    @media only screen and (min-width: 500px) {
      font-size: larger;
    }
  }

  .forms {
    margin-top: 20px;
    flex: 1;
    overflow-y: auto;
    @include scrollbar;

    .main_sections {
      width: 100%;
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr;
      @media only screen and (min-width: 700px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      .main_section {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .sub_section {
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          padding-top: 10px;
          .sub_section_header {
            font-size: 1.1rem;
            color: $color-gray11;

            @media only screen and (min-width: 500px) {
              font-size: large;
            }
          }

          section {
            display: grid;
            grid-template-columns: repeat(1, minmax(200px, 1fr));
            gap: 10px;
            @include scrollbar;
          }
        }
      }
    }

    .description {
      margin-top: 20px;
      width: 100%;
    }
  }

  .save_button {
    margin-top: 2rem;
    button {
      width: 100%;
      max-width: 300px;
    }
  }
}
