@import "./../../styles/mixins.scss";
.landing_page {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  overflow-x: hidden;

  .top_categories {
    display: flex;
    flex-direction: column;
    row-gap: 1.9rem;
  }
}
