@import "../../../../styles/vars.scss";

.dropdown_item {
  .link {
    display: flex;
    align-items: center;
    text-decoration: none;

    .title {
      color: $color-gray-text;
      font-weight: 400;
      font-size: 0.9em;
    }
  }
}

.border {
  border-top: 1px solid $color-gray1;
}
