@import "../../../../styles/vars.scss";
@import "../../../../styles/mixins.scss";

.headerWrapper {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: stretch;
  z-index: 2;

  .content {
    @include desktop-wrapper;
    display: flex;
    align-items: center;
    height: inherit;
    column-gap: 3.5%;
    width: 100%;
    margin-top: -3px;

    @media screen and (max-width: 1999px) {
      padding-left: 25px;
      padding-right: 25px;
      column-gap: 30px;
    }
  }
}

.side_bar {
  @media screen and (min-width: 850px) {
    display: none !important;
  }
}

.flipkartpluswrapper_tab {
  text-decoration: none;
  margin-right: auto;
  .logoname {
    color: white;
    font-weight: bolder;
    font-size: 16px;
    @media screen and (min-width: 850px) {
      font-size: 19px;
    }
  }

  .plus {
    display: flex;
    align-items: center;
    column-gap: 3px;
    font-weight: 500;
    font-size: 11px;
    margin-top: -3px;

    &:hover {
      text-decoration: underline;
      text-decoration-color: white;
    }

    span {
      &:first-child {
        color: white;
      }
      &:last-child {
        display: flex;
        align-items: center;

        span {
          color: $color-yellow;
          margin-right: 1px;
        }
      }
    }
  }
}

.search_icon {
  transform: scale(1.2);
  stroke: white;
  @media screen and (min-width: 850px) {
    display: none !important;
  }
}

.search_bar {
  grid-column: span 4;
  min-width: 100%;
  margin-bottom: 8px;
  margin-top: 10px;

  @media screen and (max-width: 849px) {
    display: none !important;
  }
}

.user_dropdown,
.more_dropdown {
  z-index: $z-index;
}

.seller_tab,
.cart_tab,
.login_button {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.user_dropdown {
  @media screen and (max-width: 849px) {
    display: none !important;
  }

  .login_button {
    background-color: white;
    color: $brand-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 120px;
    border-radius: 1px;
    padding-bottom: 4px;
    box-shadow: 1px 1px 5px rgb(134, 134, 134);
    cursor: pointer;
  }

  .signup_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 0.9em;
    font-weight: 600;

    a {
      color: $brand-color;
      text-decoration: none;
    }
  }
}

.more_dropdown {
  display: none !important;
  @media screen and (min-width: 850px) {
    display: flex !important;
  }
}

.cart_tab {
  display: flex;
  align-items: center;
  margin-left: -20px;

  .cart_icon {
    transform: scale(0.45);
    fill: white;
    margin-right: -10px;
  }

  @media screen and (max-width: 849px) {
    align-self: flex-end;
  }
}
