@import "../../../../styles/vars.scss";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: $z-index4;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: 10px;
    padding: 0 30px;

    .cancel {
      fill: white;
      height: 35px;
      margin-top: -5px;
      cursor: pointer;

      @media screen and (max-width: 750px) {
        height: 25px;
        margin-top: 0;
      }
    }
  }
}
