@import "../../../styles/vars.scss";

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.8rem;
  border-radius: 0.2rem;
  border: none;
  background-color: $brand-color;
  cursor: pointer;

  &.shadow {
    box-shadow: -5px 5px 19px $color-gray6;
    -webkit-box-shadow: -5px 5px 19px $color-gray6;
  }

  a,
  span {
    cursor: inherit;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    opacity: 0.8;
  }
}
