@import "../../../styles/vars.scss";

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  width: max-content;
  height: 1.8rem;
  border-radius: 0.2rem;
  border: none;
  padding: 0 1rem;
  font-size: 12px;
  background-color: $brand-color;
  cursor: pointer;

  a,
  span {
    cursor: inherit;
    color: white;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &:hover {
    opacity: 0.8;
  }
}
