@import "../../../styles//vars.scss";
@import "../../../styles/mixins.scss";

.dropdown_wrapper {
  position: relative;
  flex-direction: column;
  height: inherit;
  z-index: 1;
  font-size: 0.94em;

  & > .title {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0.6rem 1rem;
    background-color: white;
    column-gap: 0.6rem;

    .tooltip {
      position: absolute;
      z-index: 1;

      &.none {
        display: none;
      }

      &.align_b {
        bottom: 0.3rem;
        left: calc(50% - 0.35rem);
        transform: translate(-50%);
      }

      &.align_r,
      &.align_l {
        top: calc(50% + 0.35rem);
      }

      &.align_l {
        transform: translateY(-50%) rotate(-90deg);
        left: -0.5rem;
      }

      &.align_r {
        transform: translateY(-50%) rotate(90deg);
        right: -0.5rem;
      }

      @mixin arrow {
        content: "";
        position: absolute;
        left: inherit;
        border-width: 0.35rem;
        border-style: solid;
        border-color: transparent transparent $color-gray9 transparent;
      }

      .icon {
        position: relative;
        height: 0.3rem;
        &::after {
          @include arrow();
        }
      }
    }

    & > .title {
      color: $color-gray11;
      font-size: 1em;
      font-weight: 500;
      display: flex;
      align-items: center;
      flex: 1;
    }

    .title_txt {
      &:hover {
        opacity: 0.7;
      }
    }

    .title_bg {
      &:hover {
        opacity: 0.6;
      }
    }

    svg {
      height: 18px;
      width: 18px;
    }

    .caret {
      transition: transform 0.25s linear;
      width: 20px;
      margin-top: 3px;
      margin-left: 3px;
      color: $color-gray9;
    }
  }

  & > .dropdown {
    flex: 1;
    display: flex;
    position: absolute;
    min-width: 250px;
    width: 100%;
    transition: left 0.25s linear, right 0.25s linear, top 0.25s linear;
    flex-direction: row;

    &.align_l {
      right: 100%;
      transform: translate(-100%);
    }

    &.align_c {
      left: 50%;
      transform: translate(-50%);
    }

    &.child {
      min-height: 100%;
    }

    .items {
      min-height: 100%;
      transition: margin 0.25s linear;
      padding: 0.3rem 0;
      width: 100%;
      background-color: white;
      border-radius: 5px;
      border-bottom: 1px solid $color-gray3;

      &.overflow {
        min-height: inherit;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .return_back {
          cursor: pointer;
          display: flex;
          color: $color-gray11;
          align-items: center;
          font-size: 0.9rem;
          border-bottom: 1px solid $color-gray4;
          padding: 0.5rem;
          column-gap: 0.3rem;

          svg {
            transform: scale(1.1);
          }
        }
      }

      & > ul {
        overflow: auto;
        @include scrollbar();
        flex: 1;
        list-style-type: none;
        border: none;
        margin: 0;
        padding: 0;
        height: 100%;

        & > li {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
