@import "../../../styles/vars.scss";

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  column-gap: 10px;
  align-items: center;

  .button {
    display: flex;
    align-items: center;
    .page {
      min-width: 30px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      span {
        text-align: center;
        font-weight: 600;
        padding-bottom: 5px;
        width: 100%;
        font-size: 0.9rem;
        color: $brand-color;

        &.active,
        &:hover {
          border-bottom: 2px solid $brand-color;
        }
      }
    }
  }

  .button_next,
  .button_prev {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button_next,
  .button_prev {
    min-width: 40px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid $brand-color;

    &:hover {
      border: 2px solid $brand-color;
    }

    svg {
      color: $brand-color;
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        border: 1px solid $brand-color !important;
      }
    }
  }

  .skipped {
    font-weight: 900;
    font-size: large;
    color: $color-gray11;
  }
}
