@import "../../../../styles/vars.scss";
@import "../../../../styles/mixins.scss";

.search_wrapper {
  display: flex;
  position: fixed;
  flex-direction: column;
  flex: 1;
  background-color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  padding: 3px 3px;

  @media only screen and (min-width: 850px) {
    position: relative;
  }

  & > div {
    padding: 1.5rem;

    @media only screen and (min-width: 850px) {
      &:first-child {
        padding-top: 0rem;
        padding-bottom: 0rem;
      }
    }
  }

  .input_wrapper {
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 0.6rem;
    height: 36px;
    border-bottom: 1px solid $color-gray2;
    @media screen and (min-width: 850px) {
      box-shadow: 1px 1px 3px $color-gray5;
      border: none;
      border-radius: 5px;
    }

    .input {
      outline: none;
      border: none;
      background-color: transparent;
      flex: 1;
      font-size: 0.9rem !important;
      font-weight: 500;
    }

    .search_icon,
    .cancel_search,
    .back_icon {
      cursor: pointer;
      transform: scale(1.4);
      stroke: $brand-color;
    }

    .search_icon,
    .cancel_search {
      margin-left: auto;
    }

    .back_icon {
      @media only screen and (min-width: 850px) {
        display: none;
      }
    }
  }

  .search_results {
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    @include scrollbar;
    background-color: white;
    border-radius: 5px;
    gap: 0.7rem;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 850px) {
      height: min-content;
      max-height: 200px;
      position: absolute;
      top: 100%;
    }

    a {
      display: flex;
      align-items: center;
      column-gap: 0.3rem;
      max-width: 100%;
      font-size: 0.8rem;

      span {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: none;
        color: $color-gray7;

        b {
          color: $color-gray11;
        }
      }
    }
  }

  &.hide_search {
    @media screen and (max-width: 849px) {
      position: relative;
      height: 36px;
      .input_wrapper {
        padding: 0;
        border: none;

        .input {
          display: none;
        }

        .back_icon {
          display: none;
        }
      }

      .search_results {
        display: none;
      }
    }
  }
}
