@import "./../../../../../../styles/vars.scss";

.return_button {
  border-bottom: 1px solid rgb(199, 199, 199);
  padding: 15px 20px;

  .return_icon {
    transform: scale(1.7);
    fill: $brand-color;
    cursor: pointer;
  }
}

.tabs {
  list-style-type: none;
  margin: 0px;
  padding: 10px 15px 10px;
  border-bottom: 1px solid $color-gray1;
  height: 100vh;
  overflow-y: auto;

  li {
    border: none !important;
    height: 40px;
    padding: 0px;
    margin: 10px 0px;

    font-size: 16px !important;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
