@import "../../../styles/vars.module.scss";
@import "../../../styles/mixins.scss";

.headerWrapper {
  width: 100vw;
  height: 56px;
  display: flex;
  justify-content: center;
  background-color: $brand-color;

  .content {
    @include desktop-wrapper;
    display: flex;
    align-items: center;
    height: inherit;
    column-gap: 3.5%;
    width: 100%;
    justify-content: center;
  }
}

.dropdown_wrapper {
  position: relative;
  height: inherit;
  display: flex;
  align-items: center;
  z-index: $z-index;
}

.flipkartpluswrapper_tab {
  text-decoration: none;
  margin-right: -2%;
  .logoname {
    color: white;
    font-weight: bolder;
    font-size: 19px;
  }

  .plus {
    display: flex;
    align-items: center;
    column-gap: 3px;
    font-weight: 500;
    font-size: 11px;
    margin-top: -3px;

    &:hover {
      text-decoration: underline;
      text-decoration-color: white;
    }

    span {
      &:first-child {
        color: white;
      }
      &:last-child {
        display: flex;
        align-items: center;

        span {
          color: $color-yellow;
          margin-right: 1px;
        }
      }
    }
  }
}

.seller_tab,
.cart_tab,
.login_button {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.login_button {
  background-color: white;
  color: $brand-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 120px;
  border-radius: 1px;
  padding-bottom: 4px;
  box-shadow: 1px 1px 5px rgb(134, 134, 134);
  cursor: pointer;
}

.signup_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 0.9em;
  font-weight: 600;

  a {
    color: $brand-color;
    text-decoration: none;
  }
}

.cart_tab {
  display: flex;
  align-items: center;
  margin-left: -20px;
  .cart_icon {
    transform: scale(0.4);
    fill: white;
    margin-right: -10px;
  }
}
