@import "../../../../styles/vars.scss";
@import "../../../../styles/mixins.scss";

.headerWrapper {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: $brand-color;

  .content {
    @include desktop-wrapper;
    display: flex;
    align-items: center;
    height: inherit;
    column-gap: 5%;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width: 799px) {
      justify-content: space-between;
    }

    @media screen and (max-width: 1200px) {
      padding: 20px 25px;
    }

    .logo {
      @media screen and (max-width: 799px) {
        order: 2;
        margin-left: auto;
      }

      a {
        display: flex;
        align-items: center;
        img {
          width: 30px;
        }

        div {
          font-size: 18px;
          font-weight: bold;
          margin-left: 5px;
          color: white;
        }
      }
    }

    .nav_item_dropdown {
      font-weight: 500;
    }

    .nav_item {
      font-size: 13px !important;
      font-weight: 500;
      color: white;
      cursor: pointer;

      @media screen and (max-width: 799px) {
        display: none;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }

    .side_bar {
      @media screen and (min-width: 800px) {
        display: none;
      }
    }

    .nav_avatar {
      margin-left: auto;
      @media screen and (max-width: 799px) {
        display: none !important;
      }
    }
  }
}
