@import "./vars.module.scss";

* {
  box-sizing: border-box;
}

body {
  background: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.svg-white-fill {
  path {
    fill: white !important;
  }
}

.svg-brand-fill {
  path {
    fill: $brand-color !important;
  }
}

.svg-white-stroke {
  path {
    stroke: white !important;
  }
}

.svg-brand-stroke {
  path {
    stroke: $brand-color !important;
  }
}

.svg-white {
  path {
    fill: white !important;
  }
}

.svg-brand {
  fill: $brand-color !important;
}
