@mixin desktop-wrapper {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

@mixin scrollbar {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 10px;
    width: 5px;
    position: relative;
  }
  &::-webkit-scrollbar-track {
    position: relative;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    opacity: 0.5;
    border-radius: 5px;
  }
}
