@import "./vars.scss";

@mixin desktop-wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0.9rem;
  padding-right: 0.9rem;

  @media only screen and (min-width: 500px) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

@mixin scrollbar {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 10px;
    width: 0px;
    position: relative;
  }
  &::-webkit-scrollbar-track {
    position: relative;
  }
  &::-webkit-scrollbar-thumb {
    background-color: white;
    opacity: 0.5;
    border-radius: 5px;
  }
}

@mixin skeletalLoader {
  &:empty {
    background-color: $color-gray3;
    animation: shine 1.2s infinite ease-in-out;
  }

  @keyframes shine {
    0% {
      opacity: 0.2;
    }

    50% {
      opacity: 0.6;
    }

    100% {
      opacity: 0.2;
    }
  }
}
