$brand-color: #2874f0;
$brand-color-footer: #172337;
$color-green: #388e3c;
$color-yellow: #ffe500;
$color-orange:#ff7300;
$color-gray: #f5f5f5;
$color-gray1: #e5e5e5;
$color-gray2: #d5d5d5;
$color-gray-text: #3f3f3f;
$color-gray-text2: #6f6f6f;
$color-gray-text3: #999898;
$white-gray-text1: #ffffffc7;
$z-index:10;
$z-index2:20;
$z-index3:30;
$z-index4:40;