@import "../../../../styles/vars.scss";

.search_wrapper {
  height: 36px;
  display: flex;
  flex: 1;
  min-width: 300px;
  background-color: white;
  border-radius: 1px;
  box-shadow: 1px 1px 5px rgb(102, 102, 102);
  padding: 0 20px;
  .input {
    outline: none;
    border: none;
    background-color: transparent;
    flex: 1;
  }
  .search_icon {
    transform: scale(0.6);
    fill: $brand-color;
    margin-right: -10px;
  }
}
