@import "../../../../styles/vars.scss";

.search_wrapper {
  height: 36px;
  display: flex;
  flex: 1;
  min-width: 100px;
  max-width: 800px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(102, 102, 102);
  padding: 0 20px;
  position: relative;
  .input {
    outline: none;
    border: none;
    background-color: transparent;
    flex: 1;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .search_icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 3px);
    cursor: pointer;
    transform: scale(1.5) translateY(-50%);
    stroke: $brand-color;
  }
}
